<!DOCTYPE html>

<html>
<!-- preload all Google materials/icons,vueJS, vuetify, and vueCSS and favicon -->
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"> -->
  <link rel="shortcut icon" type="image/png" href="../static/images/favicon.png"/>


  <!-- css -->
  <link href="{{=URL('static', 'css/index.css')}}" rel="stylesheet" type="text/css"/>
  <!-- <link href="{{=URL('static', 'css/stupid.css')}}" rel="stylesheet" type="text/css" /> -->

  <!-- api -->

<script>
  var get_pet_list_url = "{{=URL('api', 'get_pets_list')}}";
  var add_pet_url = "{{=URL('api', 'add_pet', user_signature=True)}}";
  var get_pet_data_url = "{{=URL('api', 'get_pet_data')}}";
  var get_pet_query_url = "{{=URL('api', 'get_pets_query')}}";
  var get_upload_url = "{{=URL('uploader', 'get_upload_url')}}";
  var get_current_user_url = "{{=URL('api', 'get_current_user')}}";
</script>

<!-- Scripts -->



</head>

<body>




<div id="app">



    <v-toolbar dark tabs flat color="light green">
      <v-toolbar-side-icon @click="sidebar = !sidebar"></v-toolbar-side-icon>
      <a href="/jungle/default/index" >
        <img src="..\static\images\favicon.png" height="38px" width="38px">
      </a>
      <v-toolbar-title>The Jungle</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-text-field
      hide-details
      prepend-icon="search"
      single-line
      v-model="main.search_query"
      v-on:keyup="search_pets"
      ></v-text-field>
      <v-spacer></v-spacer>
      <!-- TODO: Fix capitilization here -->
      <v-btn 
        href="/jungle/default/user"
        v-bind:text-content.prop="current_user ? current_user : 'login'"
        round
        dark
        outline
        color="#FFFFFF"
      ></v-btn>
    </v-toolbar>


    <!-- MARK: Main Page -->
    <!-- TODO: css -->
    <div v-show="on_main_page" id="main_page">
      <div v-show="main.show_feed" id="pet_list">
      <!-- <div class="main.pet_list" v-for="i in main.pet_grid_rows"> -->
        <template>
        <v-container
          fluid
          grid-list-md
        >
          <v-layout row wrap>
            <v-flex
              v-for="pet in main.pet_list"
              v-bind="{ [`xs${4}`]: true}"
              :key="pet.title"
            >
            <div class="pet_card">
              <v-card 
                v-on:click="pet_page(pet.id)"
                >
                <v-img
                    width="100%"
                    height="300px"
                    v-bind:src="pet.pet_image_url"
                  ></v-img>
                  <v-card-title>
                    <div>
                      <div class="pet_date" v-bind:text-content.prop="pet.pet_date"></div>
                      <div class="pet_card_title" v-bind:text-content.prop="pet.pet_title"></div>
                      <div class="pet_card_price" v-bind:text-content.prop="pet.pet_price">$</div>
                    </div>
                  </v-card-title>
              </v-card>
            </div>
            </v-flex>
          </v-layout>
        </v-container>
      </template>
    </div>


    <!-- the bottom right create a new post button -->
    <v-btn
        v-on:click="post_pet_page();"
        color="red"
        dark
        fab
        fixed
        bottom
        right
    >
    <v-icon> add <v-icon>
  </v-btn>
  </div>


  <!-- MARK: Post Pet Page -->
  <div v-if="on_post_pet_page">

    <!-- cancel button -->
          <v-btn
          id="cancel"
          v-on:click="cancel_button_clicked();"
          flat
          outline
          left
          color="FF0000"
          >Cancel</v-btn>

  <v-layout justify-center>
    <v-flex xs12 sm10 md8 lg6>
      <v-card ref="form">
        <v-card-text>

        <!-- Form errors -->
        <p v-if="post_pet.errors.length">
          <b>Please correct the following error(s):</b>
          <ul>
            <li v-for="error in post_pet.errors">
              <div class="error_message" v-bind:text-content.prop="error"></div>
            </li>
          </ul>
        </p>

        <!-- Title -->
        <div class="pet_title">
          <v-text-field
          v-model="post_pet.pet_title"
          label="Title of post"
          box
          color="green"
          counter
          maxlength="80"
          required
          ></v-text-field>
        </div>

        <!-- Image uploading -->
        <p class="upload_image_title"> Upload an image </p>
        <div id="pet_images">
          <input type="file" accept="image/*" @change="onFileChange($event);  change_image_url($event)"/>
          <div class="image_div">
            <img class="preview_image" :src="post_pet.image_url"/>
          </div>
        </div>

        <!-- Description -->
        <div class="pet description">
          <v-textarea
          v-model="post_pet.pet_description"
          v-model="form.bio"
          rows="1"
          auto-grow
          label="Tell us about your pet!"
          box
          color="green"
          counter
          maxlength="700"
          ></v-textarea>
        </div>

        <!-- Pet type -->
        <div class="pet_type">
          <v-text-field
            v-model="post_pet.pet_type"
            label="What kind of pet are they? (e.g. Dog, Cat)"
          ></v-text-field>
          <!-- Could not get this to work -->
            <!-- <v-select 
            v-model="post_pet.pet_type" 
            :items="items"
            item-text="items.text"
            box
            label="What type of pet are they?"
            single-line
            ></v-select> -->
        </div>

        <!-- price -->
        <div class="pet_price_input">
          <v-text-field
            v-model="post_pet.pet_price"
            label="Price"
            value="10.00"
            prefix="$"
            color="green"
          ></v-text-field>
        </div>

        <!-- contact information -->
        <div class="contact_info">
          <v-text-field
            v-model="post_pet.pet_owner_phone_number"
            v-model="phone"
            box
            color="green"
            label="Phone number"
            mask="phone"
            required
            ></v-text-field>
        </div>

        <v-card-actions>
          <v-spacer></v-spacer>
          <!-- Submit button -->
            <v-btn
            id="submit"
            v-on:click="submit_button_clicked();"
            flat
            dark
            outline
            right
            color="#006400"
            >Submit</button>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</div>


  <!-- MARK: Pet page -->
  <div v-if="on_pet_page" class="pet_page">
    <div class="back_button_div">
      <v-btn 
        id="back_button"
        v-on:click="back_button_clicked();"
        flat
        dark
        outline
        right
        color="#006400"
      >Back</v-btn>
    </div>

    <div class="single_pet_date" v-bind:text-content.prop="pet.pet_date">Posted </div> 

    <div class="top_section">
      <div class="single_pet_title" v-bind:text-content.prop="pet.pet_title"></div>

      <div class="single_pet_price" v-bind:text-content.prop="pet.pet_price"></div>
    </div>

    <div class="middle_section">
      <div class="single_pet_image">
        <img class="single_pet_image" :src="pet.pet_image_url"/>
      </div>

      <div class="contact_information">
        <p class="contact_info_title">Contact Information</p>

        <!-- TODO: put a phone icon somewhere here, css for phone number -->
        <div class="phone_row">
          <div class="single_pet_phone_number" v-bind:text-content.prop="pet.pet_owner_phone_number"></div>
        </div>

        <!-- TODO: put a mail icon somewhere here, css for email -->
        <div class="email_row">
          <div class="single_pet_email" v-bind:text-content.prop="pet.pet_owner_email"></div>
        </div>

      </div>
    </div>

    <div class="bottom_section">
      <div class="single_pet_description" v-bind:text-content.prop="pet.pet_description"></div>

    </div>

<!--     <div class="single_pet_type" v-bind:text-content.prop="pet.pet_type"></div>
 -->
  </div>

</div>

</body>

  <script src="{{=URL('static', 'js/default_index.js')}}"></script>

</html>
