<!DOCTYPE html>

<html>
<!-- preload all Google materials/icons,vueJS, vuetify, and vueCSS and favicon -->
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">  -->
  <link rel="shortcut icon" type="image/png" href="{{=URL('static', 'images/favicon.png')}}"/>
  <link rel="phone icon" type="image/png" hred="{{=URL('static', 'images/phone.png')}}"/>


  <!-- css -->
  <link href="{{=URL('static', 'css/index.css')}}" rel="stylesheet" type="text/css"/>
  <!-- <link href="{{=URL('static', 'css/stupid.css')}}" rel="stylesheet" type="text/css" /> -->

  <!-- api -->

<script>
  var get_pet_list_url = "{{=URL('api', 'get_pets_list')}}";
  var add_pet_url = "{{=URL('api', 'add_pet', user_signature=True)}}";
  var get_pet_data_url = "{{=URL('api', 'get_pet_data')}}";
  var get_pet_query_url = "{{=URL('api', 'get_pets_query')}}";
  var get_upload_url = "{{=URL('uploader', 'get_upload_url')}}";
  var get_current_user_url = "{{=URL('api', 'get_current_user')}}";
  var get_pet_owner_url = "{{=URL('api', 'get_pet_owner')}}";
  var delete_pet_url = "{{=URL('api', 'delete_pet')}}";
  var get_chat_channels_url = "{{=URL('api', 'get_chat_channels')}}";
  var add_message_url = "{{=URL('api', 'add_message')}}";
  var get_messages_url = "{{=URL('api', 'get_messages')}}";
  var owner_get_chat_channels_url = "{{=URL('api', 'owner_get_chat_channels')}}";
</script>

</head>
<body>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=1366922816747418&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

<div id="app">

    <v-toolbar dark tabs flat color="light green">
      <v-toolbar-side-icon @click="sidebar = !sidebar"></v-toolbar-side-icon>
      <a href="/jungle/default/index" >
        <img src="{{=URL('static', 'images/favicon.png')}}" height="38px" width="38px">
      </a>
      <v-toolbar-title>PetLend</v-toolbar-title>

      <v-spacer></v-spacer>
      <v-text-field
        id="toolbar_search_bar"
        hide-details
        prepend-icon="search"
        single-line
        v-model="main.search_query"
        v-on:keyup="search_pets"
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-btn
          id="toolbar_create_post"
          v-on:click="post_pet_page();"
          round
          dark
          outline
          color="#FFFFFF"
          >Create a post</v-btn>
      <!-- TODO: Fix capitilization here -->
      <!-- The href needs to match the name of the project thats hosted i.e. replace Jungle with <project-name> -->
      <v-btn
        href="/Jungle/default/user"
        v-bind:text-content.prop="current_user ? current_user : 'login'"
        round
        dark
        outline
        color="#FFFFFF"
      ></v-btn>
    </v-toolbar>


    <!-- MARK: Main Page -->
    <!-- TODO: css -->
    <div v-show="on_main_page" id="main_page">
      <div v-show="main.show_feed" id="pet_list">
      <!-- <div class="main.pet_list" v-for="i in main.pet_grid_rows"> -->
        <template>
        <v-container
          fluid
          grid-list-md
        >

       <v-layout row align-start>
          <v-flex xs4 sm4>
            <h2 id="main_title_text"> Newest posts </h2>
          </v-flex>
          <v-spacer></v-spacer>
          <v-btn
              id="main_feed_refresh"
              v-on:click="main_feed_refresh_click();"
              fab
              dark
              color="green"
              ><v-icon dark>refresh</v-icon></v-btn>
        </v-layout>

          <v-layout row wrap>
            <v-flex
              v-for="pet in main.pet_list"
              v-bind="{ [`xs${4}`]: true}"
              :key="pet.title"
            >
            <div class="pet_card">
              <v-card
                v-on:click="pet_page(pet.id)"
                >
                <v-img
                    width="100%"
                    height="200px"
                    v-bind:src="pet.pet_image_url"
                  ></v-img>
                  <v-card-title>
                    <div>
                      <div class="pet_card_date" v-bind:text-content.prop="pet.pet_date"></div>
                      <div class="pet_card_title" v-bind:text-content.prop="pet.pet_title"></div>
                      <div class="pet_card_price" v-bind:text-content.prop="pet.pet_price">$</div>
                    </div>
                  </v-card-title>
              </v-card>
            </div>
            </v-flex>
          </v-layout>
        </v-container>
      </template>
    </div>


    <!-- the bottom right create a new post button -->
    <v-btn
        v-on:click="post_pet_page();"
        color="red"
        dark
        fab
        fixed
        bottom
        right
    >
    <v-icon> add <v-icon>
  </v-btn>
  </div>


  <!-- MARK: Post Pet Page -->
  <div v-if="on_post_pet_page">

    <!-- cancel button -->
          <v-btn
          id="cancel"
          v-on:click="cancel_button_clicked();"
          flat
          outline
          left
          color="FF0000"
          >Cancel</v-btn>

  <v-layout justify-center>
    <v-flex xs12 sm10 md8 lg6>
      <v-card ref="form">
        <v-card-text>

        <!-- Form errors -->
        <p v-if="post_pet.errors.length">
          <b>Please correct the following error(s):</b>
          <ul>
            <li v-for="error in post_pet.errors">
              <div class="error_message" v-bind:text-content.prop="error"></div>
            </li>
          </ul>
        </p>

        <!-- Title -->
        <div class="pet_title">
          <v-text-field
          v-model="post_pet.pet_title"
          label="Title of post"
          box
          color="green"
          counter
          maxlength="80"
          required
          ></v-text-field>
        </div>

        <!-- Image uploading -->
        <p class="upload_image_title"> Upload an image </p>
        <div id="pet_images">
          <input type="file" accept="image/*" @change="onFileChange($event);  change_image_url($event)"/>
          <div class="image_div">
            <img class="preview_image" :src="post_pet.image_url"/>
          </div>
        </div>

        <!-- Description -->
        <div class="pet description">
          <v-textarea
          v-model="post_pet.pet_description"
          v-model="form.bio"
          rows="3"
          auto-grow
          label="Tell us about your pet!"
          box
          color="green"
          counter
          maxlength="700"
          ></v-textarea>
        </div>
        <p class="radios_prompt"> Are you a Pet Sitter or a Pet Lender? </p>
          <v-radio-group v-model="radios" :mandatory="false">
            <v-radio label="Sitter" value="radio-1"></v-radio>
            <v-radio label="Lender" value="radio-2"></v-radio>
          </v-radio-group>

        <!-- Pet type -->
        <div class="pet_type">
          <v-text-field
            v-model="post_pet.pet_type"
            color="green"
            label="If you are lending a pet what type of pet are they? (e.g. Dog, Cat)"
          ></v-text-field>
          <!-- Could not get this to work -->
            <!-- <v-select
            v-model="post_pet.pet_type"
            :items="items"
            item-text="items.text"
            box
            label="What type of pet are they?"
            single-line
            ></v-select> -->
        </div>

        <!-- price -->
        <div class="pet_price_input">
          <v-text-field
            v-model="post_pet.pet_price"
            label="Price"
            value="10.00"
            prefix="$"
            color="green"
          ></v-text-field>
        </div>

        <!-- contact information -->
        <div class="contact_info">
          <v-text-field
            v-model="post_pet.pet_owner_phone_number"
            v-model="phone"
            box
            color="green"
            label="Phone number"
            mask="phone"
            required
            ></v-text-field>
        </div>

        <v-card-actions>
          <v-spacer></v-spacer>
          <!-- Submit button -->
            <v-btn
            id="submit"
            v-on:click="submit_button_clicked();"
            flat
            dark
            outline
            right
            color="#006400"
            >Submit</button>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</div>


  <!-- MARK: Pet page -->

  <div v-if="on_pet_page" class="pet_page">

    <v-container fluid grid-list-md>

      <v-layout align-start justify-start row fill-height>

      <!-- Pet section -->
      <v-flex xs7 sm7 md7>
        <div class="back_button_div">
          <v-layout row>
            <v-btn
              id="back_button"
              v-on:click="back_button_clicked();"
              flat
              dark
              outline
              right
              color="#006400"
            >Back</v-btn>
            <v-spacer></v-spacer>
          </v-layout>
        </div>

        <div class="single_pet_date">
          <div v-bind:text-content.prop="pet.pet_date"></div>
        </div>

        <div class="top_section">
          <div class="single_pet_title" v-bind:text-content.prop="pet.pet_title"></div>

          <div class="single_pet_price" v-bind:text-content.prop="pet.pet_price"></div>

          <div class="single_pet_description" v-bind:text-content.prop="pet.pet_description"></div>


        </div>

        <div class="middle_section">
          <img class="single_pet_image" :src="pet.pet_image_url"/>
        </div>

        <div>
        <a href="https://twitter.com/share"
           class="twitter-share-button"
           data-url="https://pet-lend.herokuapp.com/PetLend/default/index">
           <img src="{{=URL('static', 'images/twitter-box.png')}}">
        </a>

        <div class="fb-share-button" data-href="https://pet-lend.herokuapp.com/PetLend/default/index" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><img src="{{=URL('static', 'images/facebook-box.png')}}"></a></div>

        <a class="google-plus-button"> <img src="{{=URL('static', 'images/google-plus-box.png')}}"></a>
      </div>

        <div class="contact_information">
          <p class="contact_info_title">Contact Information</p>

          <div class="phone_row">
            <img class="phone_image" src="{{=URL('static', 'images/phone.png')}}" height="38px" width="38px">
            <div class="single_pet_phone_number" v-bind:text-content.prop="pet.pet_owner_phone_number"></div>
          </div>

          <div class="email_row">
            <img class="email_image" src="{{=URL('static', 'images/email.png')}}" height="38px" width="38px">
            <div class="single_pet_email" v-bind:text-content.prop="pet.pet_owner_email"></div>
          </div>
        </div>



        <div>
          <v-btn
              v-if="pet.is_pet_owner"
              id="delete_button"
              v-on:click="delete_button_clicked(pet.pet_idx);"
              flat
              dark
              outline
              right
              color="#ff0000"
            >Delete</v-btn>
          </div>

      </v-flex>

      <!-- Chat section -->

      <v-flex xs4 sm4 md4>
          <div class="chat_window">
            <p class="chat_title">Messages</p>
            <v-btn
              id="chat_refresh"
              v-on:click="chat_refresh_button_click();"
              fab
              dark
              small
              color="green"
              ><v-icon dark>refresh</v-icon></v-btn>
            <hr width="500px">
          </div>

        <div v-if="pet.is_pet_owner" class="channels_list">
          <v-card class="channels_card"
            width="500px"
          >
              <v-layout align-center justify-space-between row fill-height class="channels_container">
              <v-flex
                v-for="channel in chat.channels_list"
                :key="channel.pet_requester_email"
              >
                <v-card class="channel_card"
                  width="97%"
                  height="100%"
                  color="#d2d2d2"
                  v-on:click="get_messages_on_click(channel.id);"
                >
                  <v-card-title>
                    <div class="channel_title" v-bind:text-content.prop="channel.pet_requester_email">
                    </div>
                  </v-card-title>
                </v-card>
              </v-flex>
            </v-layout>
          </v-card>
        </div>

      <div>
        <v-card class="chat_card"
          width="500px"
          height="550px">

          <v-flex
              v-for="message in chat.message_list"
              :key="message.id"
            >

            <v-card class="message_card"
              width="97%"
              height="100%"
              color="#f1f1f1">

              <v-card-title>
                <div>
                  <div>
                    <div class="message_card_email" v-bind:text-content.prop="message.message_sender_email"></div>
                    <div class="message_card_date" v-bind:text-content.prop="message.message_date"></div>
                  </div>
                  <div class="message_card_content" v-bind:text-content.prop="message.message_content"></div>
              </div>
              </v-card-title>
            </v-card>
        </v-card>
      </div>
        <div class="send_message_div">
              <v-text-field
                v-model="chat.message"
                placeholder="Send a message"
                outline
                append-icon="send"
                @click:append="send_message();"
                full-width
              ></v-text-field>
          </v-flex>
        </div>

    </v-flex>

    </v-layout>

    </v-container>

    </div>  <!-- Pet page -->

  </div>

</div>

</body>

  <script src="{{=URL('static', 'js/default_index.js')}}"></script>

</html>
