{{extend 'layout.html'}}

{{block head}}
<!-- Vue -->

<script src="{{=URL('static', 'js/vue.js')}}"></script>

<!-- css -->

<link href="{{=URL('static', 'css/post_pet.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{=URL('static', 'css/stupid.css')}}" rel="stylesheet" type="text/css" />


<!-- api -->
<script>
	var add_pet_url = "{{=URL('api', 'add_pet', user_signature=True)}}";
	// var upload_image_url = "{{=URL('uploader', 'get_upload_url')}}";
</script>

{{end}}

<div id="post_pet_vue_div">
	<div class="container">
		<div class="half">
			<h3>Tell us about your pet!</h3>
			
			<!-- Title -->
			
			<div class="pet_title">
				<input v-model="pet_title" placeholder="Title" class="titleInputTextArea"/>
			</div>
			
			<!-- Description -->
			
			<div class="pet description">
				<textarea v-model="pet_description" placeholder="Description" class="			descriptionInputTextArea"></textarea>
			</div>
			
			<!-- Pet type -->
			
			<div class="pet_type">
				<div class="child inline-block-child"></h4>What kind of pet are they?</h4></div>
				<div class="child inline-block-child"><select v-model="pet_type" class="petTypeSelector">
					<option disabled value="">Please select a type listed or 'Other'</option>
					<option>Dog</option>
					<option>Cat</option>
					<option>Reptile</option>
					<option>Bird</option>
					<option>Farm</option>
					<option>Other</option>
				</select></div>
				<span>
			</div>

			<!-- price -->

			<div class="pet_price_input">
				<div class="child inline-block-child"><p>Price</p></div>
				<div class="child inline-block-child"><input v-model="pet_price" class="pet_price_input_text_area"></input></div>
			</div>

		
			<!-- contact information -->
		
			<div class="contact_info">
				<div class="child inline-block-child"><p>Please enter phone number if you would prefer to be contacted by phone</p></div>
				<div class="child inline-block-child"><input v-model="pet_owner_phone_number" placeholder="(###)-###-####" class="phoneNumberInputTextArea"/></div>
			</div>
		
			<!-- Submit button -->
			<div class="submit_button">
				<button v-on:click="submitButtonClicked();" class="submitButton">Submit</button>
			</div>
		</div>

		<div class="half">
			<!-- Image uploading -->
			<h6> Upload an image </h6>
			<div id="pet_images">
				<input type="file" accept="image/*" @change="onFileChange($event); change_image_url($event)"/>
				<div class="preview">
					<img :src="image_url"/>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="{{=URL('static', 'js/post_pet.js')}}"></script>

