<!DOCTYPE html>

<html>
<!-- preload all Google materials/icons,vueJS, vuetify, and vueCSS and favicon -->
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"> -->
  <link rel="shortcut icon" type="image/png" href="../static/images/favicon.png"/>

  <!-- api -->
<script>
  var get_pet_list_url = "{{=URL('api', 'get_pets_list')}}";
</script>

</head>

<!-- Where all the visuals start to come together-->
<body>
  <div id="app">
    <v-toolbar dark tabs flat color="light green">
      <v-toolbar-side-icon @click="sidebar = !sidebar"></v-toolbar-side-icon>
      <a href="/" >
        <img src="../static/images/favicon.png" height="38px" width="38px">
      </a>
      <v-toolbar-title>The Jungle</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-text-field
      hide-details
      prepend-icon="search"
      single-line
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-btn icon>
        <!-- 3 vertical dots button --> 
        <v-icon>more_vert</v-icon>
      </v-btn>
    </v-toolbar>


    <!-- MARK: Main feed -->
    <!-- TODO: css -->
    <div v-show="show_feed" id="pet_list">
      <div class="pet_list" v-for="i in pet_grid_rows">
        <template>
        <v-container grid-list-md>
          <v-layout row>
            <v-flex v-for="j in 3" :key="`4${j}`">
                <v-card v-if="pet_list[(i-1) * 3 + (j-1)] !== undefined">
                  <v-img 
                    class="white--text"
                    width="300px"
                    height="300px"
                    v-bind:src="pet_list[(i-1) * 3 + (j-1)].pet_image_url"
                  >
                  </v-img>
                  <v-card-title>
                    <div>
                    <div>
                      <div class="pet_date" v-bind:text-content.prop="pet_list[(i-1) * 3 + (j-1)].pet_date"></div>
                      <div class="pet_title" v-bind:text-content.prop="pet_list[(i-1) * 3 + (j-1)].pet_title"></div>
                      <div class="pet_price" v-bind:text-content.prop="pet_list[(i-1) * 3 + (j-1)].pet_price">$</div>
                    </div>
                  </v-card-title>
                </v-card>
              </v-flex>
            </v-layout>
        </v-container>
      </template>
      </div>
    </div>


    <!-- the bottom right create a new post button -->
    <v-btn
        href='/jungle/default/post_pet'
        color="red"
        dark
        fab
        fixed
        bottom
        right
    >
    <v-icon> edit <v-icon>
    <!-- right below is if I want to create a cancel button -->
    <!-- <v-icon> close <v-icon> -->
  </v-btn>
  </div>
  <script src="{{=URL('static', 'js/default_index.js')}}"></script>
</body>



</html>
