<!DOCTYPE html>

<html>
<!-- preload all Google materials/icons,vueJS, vuetify, and vueCSS and favicon -->
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="shortcut icon" type="image/png" href="../static/images/favicon.png"/>
</head>
<!-- Where all the visuals start to come together-->
<body>
  <div id="app">
    <v-toolbar dark tabs flat color="light green">
      <v-toolbar-side-icon @click="sidebar = !sidebar"></v-toolbar-side-icon>
      <a href="/" >
        <img src="../static/images/favicon.png" height="38px" width="38px">
      </a>
      <v-toolbar-title>The Jungle</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-text-field
      hide-details
      prepend-icon="search"
      single-line
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-btn icon>
        <!-- 3 vertical dots button --> 
        <v-icon>more_vert</v-icon>
      </v-btn>
    </v-toolbar>


    <!-- MARK: Main feed -->


    <!-- The for loop in pet_list will be our Ceiling(pet_list.length) -->
    <!-- TODO: css and populate with our data -->
    <v-layout>
      <v-container grid-list-md>
        <div class="pet_list" v-for="i in 7">
        <v-layout row>
        <v-flex v-for="i in 3" :key="`4${i}`" lg4>
          <v-card>
            <v-img
              class="white--text"
              height="200px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
              <v-container fill-height fluid>
                <v-layout fill-height>
                  <v-flex xs12 align-end flexbox>
                    <span class="headline">Top 10 Australian beaches</span>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-img>
            <v-card-title>
              <div>
                <span class="grey--text">Number 10</span><br>
                <span>Whitehaven Beach</span><br>
                <span>Whitsunday Island, Whitsunday Islands</span>
              </div>
            </v-card-title>
            <v-card-actions>
              <v-btn flat color="orange">Share</v-btn>
              <v-btn flat color="orange">Explore</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </div>
    </v-container>
  </v-layout>













    <!-- the bottom right create a new post button -->
    <v-btn
        href='/jungle/default/post_pet'
        color="red"
        dark
        fab
        fixed
        bottom
        right
    >
    <v-icon> edit <v-icon>
    <!-- right below is if I want to create a cancel button -->
    <!-- <v-icon> close <v-icon> -->
  </v-btn>
  </div>
  <script>
    new Vue({
      el: '#app'
    })
  </script>
</body>
</html>
