<!DOCTYPE html>

<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-toolbar dark tabs flat color="light green">
      <v-toolbar-side-icon></v-toolbar-side-icon>
      <a href="/" >
        <img src="../static/images/favicon.png" height="38px" width="38px">
      </a>
      <v-toolbar-title>The Jungle</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-text-field
      hide-details
      prepend-icon="search"
      single-line
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>more_vert</v-icon>
      </v-btn>
      <v-tabs
        slot="extension"
        v-model="tabs"
        align-with-title
        color="transparent"
      >
      <v-tab href="#one">Share</v-tab>
      <v-tab href="#two">Edit</v-tab>
      <v-tab href="#three">Scroll Up</v-tab>
      <v-tabs-slider color="pink"></v-tabs-slider>
    </v-tabs>
    </v-toolbar>
    <v-tabs-items v-model="tabs">
      <v-tab-item v-for="content in ['one', 'two', 'three']" :key="content" :value="content">
        <v-card height="200px" flat>
        </v-card>
      </v-tab-item>
    </v-tabs-items>
  </div>
  <script>
    new Vue({
      el: '#app'
    })
  </script>

</body>
</html>
