.preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview img {
  max-width: 100%;
  max-height: 500px;
}

#pet_images {
	padding 20px;
	background-color: #e2e2e2;
}

.pet_type {
	margin-bottom: 10px;
}

html{
  font-family: Roboto;
  font-weight: bold;
}
