.inline-block-child {
  display: inline-block;
}

.titleInputTextArea {
	padding: 8px;
	margin-bottom: 12px;
	width: 100%;
}

.descriptionInputTextArea {
	padding: 8px;
	margin-top: 8px;
	height: 100px;
	width: 100%;
}

.phoneNumberInputTextArea {
	padding: 8px;
	margin-bottom: 12px;
}

.submit_button {
	margin-top: 12px;
	padding: 8px;
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview img {
  max-width: 100%;
  max-height: 500px;
}

#pet_images {
	padding 20px;
	background-color: #e2e2e2;
}

.pet_type {
	margin-bottom: 10px;
}
